@import "reset.css";

.hidden {
  display: none;
}

body {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 60vh;
}

#greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.1);
}

#todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.1);
}

#quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.1);
}

#weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}

#greeting {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#clock {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#quote-text {
  font-size: 1.5rem;
}

#quote-author {
  font-size: 1.2rem;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#todo-input {
  width: 20rem;
  height: 1.5rem;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

#todo-input::placeholder {
  color: var(--placeholder-color);
}

#todo-submit {
  width: 2.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.2rem;
}

#todo-submit:hover {
  background-color: white;
  color: black;
}

#todo-list {
  margin-top: 1rem;
}

#todo-list li {
  margin-bottom: 0.5rem;
}

#todo-list li button {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
}
